<a href="https://colab.research.google.com/github/mfvalle/Maths_for_MachineLearning/blob/main/Random_Forests_%26_Decision_Trees.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!git clone https://github.com/mfvalle/Maths_for_MachineLearning.git

Cloning into 'Maths_for_MachineLearning'...
remote: Enumerating objects: 82, done.
remote: Counting objects: 100% (15/15), done.
remote: Compressing objects: 100% (15/15), done.
remote: Total 82 (delta 3), reused 0 (delta 0), pack-reused 67
Unpacking objects: 100% (82/82), 1.53 MiB | 5.35 MiB/s, done.

# [Find the Flag](https://archive.ics.uci.edu/ml/datasets/Flags)

This data file contains details of various nations and their flags. In this file the fields are separated by spaces (not commas). With this data we can try things like predicting the religion of a country from its size and the colours in its flag.

![flag.png](https://upload.wikimedia.org/wikipedia/commons/thumb/8/8e/Proposed_flag_of_R%C3%A9union_%28VAR%29.svg/300px-Proposed_flag_of_R%C3%A9union_%28VAR%29.svg.png)



We will explore which features are the best to use and the best way to create a decision tree to guess which continent this flag comes from.

In [24]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier

flags = pd.read_csv('/content/Maths_for_MachineLearning/flag.data.cvs', header=0)

# See what the data looks like
print(flags.columns)
print(flags.head())

"""
column_names = flags.keys()
print(column_names)
"""
# Add header to dataframe
flags.columns=["Name", "Landmass", "Zone", "Area", "Population", "Language", "Religion", "Bars", "Stripes", "Colors",
               "Red", "Green",	"Blue", "Gold", "White", "Black", "Orange", "Mainhue", "Circles", "Crosses",	"Saltires",
               "Quarters",	"Sunstars",	"Crescent",	"Triangle",	"Icon",	"Animate", "Text", "Topleft",	"Botright"]
            
flags.head()

Index(['Afghanistan', '5', '1', '648', '16', '10', '2', '0', '3', '5.1', '1.1',
       '1.2', '0.1', '1.3', '1.4', '1.5', '0.2', 'green', '0.3', '0.4', '0.5',
       '0.6', '1.6', '0.7', '0.8', '1.7', '0.9', '0.10', 'black', 'green.1'],
      dtype='object')
      Afghanistan  5  1   648  16  10  2  0  3  5.1  ...  0.5  0.6  1.6  0.7  \
0         Albania  3  1    29   3   6  6  0  0    3  ...    0    0    1    0
1         Algeria  4  1  2388  20   8  2  2  0    3  ...    0    0    1    1
2  American-Samoa  6  3     0   0   1  1  0  0    5  ...    0    0    0    0
3         Andorra  3  1     0   0   6  0  3  0    3  ...    0    0    0    0
4          Angola  4  2  1247   7  10  5  0  2    3  ...    0    0    1    0

   0.8  1.7  0.9 0.10  black  green.1
0    0    0    1    0    red      red
1    0    0    0    0  green    white
2    1    1    1    0   blue      red
3    0    0    0    0   blue      red
4    0    1    0    0    red    black

[5 rows x 30 columns]

,Name,Landmass,Zone,Area,Population,Language,Religion,Bars,Stripes,Colors,...,Saltires,Quarters,Sunstars,Crescent,Triangle,Icon,Animate,Text,Topleft,Botright
0,Albania,3,1,29,3,6,6,0,0,3,...,0,0,1,0,0,0,1,0,red,red
1,Algeria,4,1,2388,20,8,2,2,0,3,...,0,0,1,1,0,0,0,0,green,white
2,American-Samoa,6,3,0,0,1,1,0,0,5,...,0,0,0,0,1,1,1,0,blue,red
3,Andorra,3,1,0,0,6,0,3,0,3,...,0,0,0,0,0,0,0,0,blue,red
4,Angola,4,2,1247,7,10,5,0,2,3,...,0,0,1,0,0,1,0,0,red,black

In [ ]:

# Determine Landmass a country is on

# Choose RANDOMLY which columns will help our decision tree correctly classify those labels
data = flags[["Red", "Green", "Blue", "Gold", "White", "Black", "Orange"]]

# Split DataFrames into a training set and test set
train_data, test_data, train_labels, test_labels = train_test_split(data, labels, random_state=1)

# Create and fit decision tree
tree = DecisionTreeClassifier(random_state=1)
tree.fit(train_data, train_labels)

# Score of RANDOM feature selection
score = tree.score(test_data, test_labels)
print("Accuracy:", score)

#[Income Classification using Random Forest](https://archive.ics.uci.edu/ml/datasets/census%20income)

By using this census data with a random forest, we will try to predict whether or not a person makes more than $50,000.

In [ ]:
def warn(*args, **kwargs):
    pass
import warnings
warnings.warn = warn

import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import tree
from sklearn.ensemble import RandomForestClassifier